@import '@/app/mixins';

.history{
    .item{
        &__query{
            font-size: 1.2rem;
            color: var(--color);
        }

        &__path{
            padding-left: 0.5rem;
            font-size: 1rem;
            color: var(--secondary-color);
        }
    }
}