@import '@/app/mixins';

.page > h2{
    margin: 10vh 0 5vh 0;
    font-size: 2.5rem;
}

.history{

    max-width: 40rem;
    background-color: var(--bg-2);
    margin: auto;
    padding: 0.5rem;
    border-radius: 0.5rem;


    .item{

        display: grid;
        grid-template-columns: 1fr 2fr 1fr;

        &__query{
            font-size: 1.2rem;
            color: var(--color);
        }

        &__path{
            padding-left: 0.5rem;
            font-size: 1rem;
            color: var(--color-2);
        }
    }
}