.searchBar {
    width: 100%;
    max-width: 47rem;
    height: 3rem;
    border: 2px solid #949494;
    border-radius: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    box-shadow: rgb(0 0 0 / 35%) 2px 2px 6px;
    transition: all 0.3s;
    background: #1f1f1f;

    &:hover {
        transform: scale(1.02);
        box-shadow: rgb(0 0 0 / 60%) 2px 2px 6px;
    }

    @media (max-width: 800px) {
        max-width: 95%;
        height: 2.5rem;
    }

    &:focus-within {
        box-shadow: rgb(0 0 0 / 80%) 2px 2px 6px;
        border-color: rgb(0, 153, 255);
        transform: scale(1.02);
    }

    input {
        border: none;
        border-radius: 5rem;
        background: transparent;
        width: 100%;
        font-size: 1.3rem;
        color: #fff;
        padding-left: 1rem;

        @media (max-width: 800px) {
            font-size: 1.1rem;
        }

        &:focus {
            outline: none;
        }
    }

    button {
        border: none;
        border-radius: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;

        svg {
            width: 3.5rem;
            height: 1.5rem;
            fill: #cecece;

            @media (max-width: 800px) {
                width: 3rem;
                height: 1.25rem;
            }
        }
    }
}