@import '@/app/variables';

// .searchBar {
//     width: 100%;
//     max-width: 46rem;
//     height: 3rem;
//     border: 2px solid $border-color;
//     border-radius: 3rem;
//     // display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
//     margin: 0 auto;
//     box-shadow: $box-shadow;
//     transition: all 0.3s;
//     background: $background;

//     &:hover {
//         transform: scale(1.01);
//         box-shadow: $box-shadow-hover;
//     }

//     @include mobile {
//         max-width: 95%;
//         height: 2.5rem;
//     }

//     &:focus-within {
//         box-shadow: rgb(0 0 0 / 80%) 2px 2px 6px;
//         border-color: darken($link-color, 10%);
//         transform: scale(1.01);

//         button{
//             background: darken($link-color, 20%);
//             &:hover {
//                 background: darken($link-color, 30%);
//             }
//             svg {
//                 fill: $color;
//             }
//         }
//     }

//     input {
//         border: none;
//         border-radius: 5rem;
//         background: transparent;
//         width: 100%;
//         font-size: 1.3rem;
//         color: $color;
//         padding-left: 1rem;

//         @include mobile {
//             font-size: 1.1rem;
//         }

//         &:focus {
//             outline: none;
//         }
//     }

//     button {
//         border: none;
//         border-radius: 5rem;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         background: transparent;
//         overflow: hidden;
//         margin: 0.1rem;
//         transition: all 0.3s;
//         cursor: pointer;

//         svg {
//             width: 3rem;
//             height: 1.25rem;
//             fill: $tertiary-color;

//             @include mobile {
//                 width: 2.8rem;
//                 height: 1.15rem;
//             }
//         }
//     }
// }

.searchBar {
    width: 100%;
    max-width: 46rem;
    border: 1px solid $border-color;
    border-radius: 5rem;
    background: transparent;
    transition: all 0s;
    margin: 0 auto;
    box-shadow: $box-shadow;
    position: relative;

    @include mobile {
        max-width: 95%;
    }

    &:focus-within {
        border-color: darken($link-color, 10%);

        button {
            background: darken($link-color, 20%);

            &:hover {
                background: darken($link-color, 30%);
            }

            svg {
                fill: $color;
            }
        }
    }

    &__open:focus-within {
        border-radius: 1rem 1rem 0 0;
    }

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        input {
            width: 100%;
            font-size: 1.3rem;
            color: $color;
            padding: 0.5rem 0.5rem .5rem 2rem;
            background: transparent;
            border: none;

            @include mobile {
                font-size: 1.1rem;
                padding: 0.5rem 0.5rem .5rem 1.5rem;
            }

            &:focus {
                outline: none;
            }
        }

        button {
            border: none;
            border-radius: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background: transparent;
            overflow: hidden;
            margin: 0.1rem;
            transition: all .3s;
            cursor: pointer;

            svg {
                width: 3rem;
                height: 1.25rem;
                fill: $tertiary-color;

                @include mobile {
                    width: 2.8rem;
                    height: 1.15rem;
                }
            }
        }
    }

    .suggestionsContainer {
        background: $primary-background;
        max-height: 10rem;
        overflow: hidden scroll;
        position: absolute;
        top: 101%;
        width: 100%;
        left: 0;
        border-radius: 0 0 0.5rem 0.5rem;
        z-index: 2;
        box-shadow: $box-shadow-hover;
        transition: all 0.2s;

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &__open {
            border: 1px solid $border-color;
        }

        .suggestion {
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
            text-align: left;
            cursor: pointer;
            color: $secondary-color;

            @include mobile {
                font-size: 1rem;
            }

            .searchIcon {
                font-size: 1rem;
                fill: $tertiary-color;
                margin-right: 0.5rem;
            }
        }

        .suggestionHighlighted {
            background: #000;
            color: $link-color;
        }
    }
}