.searchPage {
    display: grid;  
    grid-template-columns: 2fr 1.4fr;
    // margin: 0 10%;

    @media (max-width: 800px) {
        grid-template-columns: 1fr;
        // margin: 0 4%;

        .results__container{
            grid-row: 2;
        }
    }
}