.searchPage {
    display: grid;  
    grid-template-columns: 2fr 1.2fr;
    margin: 0rem 10%;

    @media (max-width: 800px) {
        grid-template-columns: 1fr;
        margin: 0rem 4%;

        .results__container{
            grid-row: 2;
        }
    }
}