@import "@/app/mixins";

.account_page {
    min-height: 100vh;
    display: grid;
    place-content: center;

    .card {
        margin: auto;
        display: inline-block;
        padding: 2rem 1.5rem;
        background: var(--primary-background);
        border-radius: 0.5rem;
        box-shadow: var(--box-shadow);
        font-weight: normal;
        transition: all 0.3s;
        border: 1px solid rgba(var(--border-color), 0.5);

        @include mobile {
            max-width: 94%;
        }

        &:hover {
            box-shadow: var(--box-shadow-hover);
            background: var(--secondary-background);
            transform: scale(1.01);
        }

        .userImg {
            max-width: 14rem;
            border-radius: 50%;
            margin-bottom: 0.5rem;
            box-shadow: var(--box-shadow);
            border: 0.2rem solid orange;
            transition: all 0.3s;

            @include mobile {
                max-width: 70%;
            }

            &:hover {
                box-shadow: var(--box-shadow-hover);
                transform: scale(1.05);
            }
        }

        .name {
            font-weight: normal;
            font-size: 2.2rem;
        }

        .email {
            font-size: 1.5rem;
            color: var(--secondary-color);
        }

        .buttons {
            display: flex;
            justify-content: space-around;
            gap: 2.5rem;
            margin-top: 3rem;

            @include mobile {
                flex-direction: column;
                gap: 1rem;
            }

            button,.btn {
                // color: var(--color);
                color: black;
                font-size: 1.1rem;
                padding: 0.5rem 1rem;
                border-radius: 0.3rem;
                border: 1px solid var(--border-color);
                // background: var(--background);
                background: deepskyblue;
                box-shadow: var(--box-shadow);
                transition: all 0.3s;
                font-family: 'Ubuntu', sans-serif;
                cursor: pointer;

                &:hover {
                    box-shadow: var(--box-shadow-hover);
                    // background: var(--primary-background);
                    transform: scale(1.05);
                }

                @include mobile {
                    width: 100%;
                }

                &.logout{
                    background-color: orangered;
                }
            }
        }
    }
}