@import '@/app/variables';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    ::-webkit-scrollbar {
        width: 0.4rem;

        @include mobile {
            width: 0.2rem;
        }
    }

    ::-webkit-scrollbar-track {
        background: $background;
    }

    ::-webkit-scrollbar-thumb {
        background: $border-color;
        border-radius: 0.5rem;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: $tertiary-color;
    }
}

body {
    background-color: $background;
    color: $color;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    min-height: 100vh;
    // display: flex;
    // flex-direction: column;

    main{
        // flex: 1;
        min-height: 100vh;
    }
}