@import '@/app/mixins';
@import '@/app/variables';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    ::-webkit-scrollbar {
        width: 0.4rem;

        @include mobile {
            width: 0.2rem;
        }
    }

    ::-webkit-scrollbar-track {
        background: var(--background)
    }

    ::-webkit-scrollbar-thumb {
        background: var(--tertiary-color);
        border-radius: 0.5rem;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--secondary-color);
    }
}

body {
    background-color: var(--background);
    color: var(--color);
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    min-height: 100vh;
    // display: flex;
    // flex-direction: column;

    // remove blue tap highlight on mobile
    -webkit-tap-highlight-color: transparent;    

    main{
        // flex: 1;
        min-height: 100vh;
    }
}