// import ubuntu font

.accountBtn_container{
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.logo {
  font-weight: lighter;
  font-size: 6.5rem;
  color: #fff;
  text-decoration: none;
  margin-top: 17vh;
  background: linear-gradient(91.12deg, #7b0afd 0.56%, #00FFF0 103.08%);
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  // add media query for mobile
  @media (max-width: 800px) {
    font-size: 3.5rem;
    margin-top: 25vh;
  }
}

.tagline {
  font-weight: lighter;
  font-size: 1.7rem;
  color: #fff;
  text-decoration: none;
  margin-top: 0rem;
  letter-spacing: 4px;
  margin-bottom: 6rem;
  padding: 0 0.75rem;

  @media (max-width: 800px) {
    font-size: 1rem;
    margin-bottom: 6rem;
    letter-spacing: 2px;
  }
}