$background: #161616;
$primary-background: lighten($background, 3%);
$secondary-background: lighten($background, 8%);

$color: #f7f7f7;
$primary-color: darken($color, 10%);
$secondary-color: darken($color, 20%);
$tertiary-color: darken($color, 30%);
$border-color: darken($color, 55%);
$link-color: #4da3ff;

$logo-gradient: linear-gradient(110deg,#7b0afd .56%,#00fff0 103%);

$border-radius: 0.5rem;
$box-shadow: 2px 4px 4px rgb(0 0 0 / 25%);
$box-shadow-hover: 2px 4px 8px rgb(0 0 0 / 60%);

html.light{
    $background: #f7f7f7;
    $primary-background: darken($background, 4%);
    $secondary-background: darken($background, 8%);

    $color: #1b1b1b;
    $primary-color: lighten($color, 10%);
    $secondary-color: lighten($color, 20%);
    $tertiary-color: lighten($color, 30%);
    $border-color: lighten($color, 40%);
}


@mixin mobile {
    @media screen and (max-width: 800px) {
        @content;
    }
}