.results__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0 10%;
    margin-top: 2rem;
    grid-gap: 3rem 1.5rem;
    align-items: center;
    text-align: left;

    @media (max-width: 800px) {
        grid-template-columns: 1fr 1fr;
        margin: 0 4%;
    }
}