@import '@/app/mixins';

.videoCard {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    text-align: left;
    margin-bottom: 1rem;
    gap: 1rem;
    border-radius: 0.5rem;
    padding: 0.25rem;
    transition: all 0.3s;
    cursor: pointer;

    @include mobile {
        grid-template-columns: 2fr 3fr;
        gap: 0.4rem;

        .content {

            .description,
            .publishedBy {
                display: none;
            }
        }
    }

    &:hover {
        box-shadow: var(--box-shadow);
        background: var(--bg-2);
        transform: scale(1.03);

        .thumbnail {
            box-shadow: none;
        }
    }

    .thumbnail {
        border-radius: 0.4rem;
        box-shadow: 2px 2px 0.2rem rgba(0, 0, 0, 0.6);
        // border: 1px solid #b3b3b3;
        max-width: 100%;

        @media (max-width: 800px) {
            width: 100%;
            border: none;
        }
    }

    .content {
        padding: 0.75rem 0.5rem;

        @include mobile {
            padding: 0.1rem;
        }

        .title {
            color: var(--link-color);
            font-size: 1.3rem;
            font-weight: normal;

            @include mobile {
                color: var(--color-1);
                font-size: 1rem;
                border: none;
                // ellipsis for 2 lines
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }

        .publishedAt {
            margin-top: 0.25rem;
            color: var(--color-3);
            font-size: 0.9rem;

            &::before {
                content: 'Published at ';
                margin-right: 0.2rem;
            }

            @include mobile {
                font-size: 0.8rem;
                margin-top: 0.5rem;

                &::before {
                    content: '';
                }
            }
        }

        .publishedBy {
            margin-top: 0.25rem;
        }

        .description {
            margin-top: 0.75rem;
            color: #b3b3b3;
            font-size: 0.85rem;
            word-break: break-all;
            // set text overflow to ellipsis for 4 lines
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;

            @include mobile {
                display: none;
            }
        }
    }
}

.skeleton {
    .publishedAt::before {
        content: '' !important;
        margin-right: 0rem !important
    }

    .thumbnail {
        @include mobile {
            height: 5rem !important;
        }
    }
}