.resultsSnippet {
    text-decoration: none;
    background: transparent;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
    color: rgb(218, 218, 218);
    text-align: left;
    padding: 1rem;
    margin: 1rem 0;
    cursor: pointer;

    @media (max-width: 800px) {
        margin: 0.75rem 0;
        padding: 0.5rem;
    }

    &:hover {
        background: #2b2b2b;
        box-shadow: #00000040 2px 4px 8px;
        transform: scale(1.02);
    }

    .head {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;

        .favicon {
            width: 1rem;
            margin-right: 0.5rem;
            border-radius: 50%;
        }

        .url {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .body {
        .title {
            color: rgb(77, 163, 255);
            font-weight: normal;
            font-size: 1.3rem;
            margin-bottom: 0.5rem;

            @media (max-width: 800px) {
                font-size: 1.15rem;
            }
        }

        .snippet {
            font-size: 0.9rem;
            color: rgb(182, 182, 182);
        }
    }

    .cse {
        height: 6rem;
        border-radius: 1rem;
        margin-left: 2rem;

        @media (max-width: 800px) {
            display: none;
        }
    }
}