.card {
    border: 2px solid #909090;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 85%;
    max-width: 25rem;
    margin-left: 7%;
    text-align: left;

    img {
        width: 100%;
        max-height: 15rem;
    }

    .title {
        font-weight: normal;
    }

    .content{
        color: #c8c8c8;
        font-size: 0.9rem;
        margin-top: 1rem;
    }
}