.card {
    border: 2px solid #909090;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 72%;
    max-width: 25rem;
    margin-top: 1.2rem;
    margin-left: 7%;
    text-align: left;
    box-shadow: #000 2px 2px 4px;

    &.skeleton{
        border-color: transparent;
        box-shadow: none;
    }

    @media (max-width: 800px) {
        margin-left: 0;
        width: 100%;
        grid-row: 1;
        border-width: 1px;
        padding: 0.6rem;
    }

    img {
        width: 100%;
        max-height: 15rem;
        border-radius: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.6) 2px 4px 4px;
    }

    .title {
        font-weight: normal;

        @media (max-width: 800px) {
            font-size: 1.5rem;
        }
    }

    .content{
        color: #c8c8c8;
        font-size: 0.9rem;
        margin-top: 1rem;
    }
}